<h1>Eat Da Burger!</h1>

<form action="/" method="POST">
    <textarea name="burger" id="" type="text" name="task"></textarea>

    <button type="submit">Add a Burger</button>
</form>

<ul>
    {{#each burgers}}
    <li>
        {{name}}

        <button class="change-eaten" data-id="{{id}}" data-eaten="{{eaten}}">
            {{#if eaten}}YUM!{{/if}}
        </button>

        <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
    </li>
    {{/each}}
</ul>