<h1>Eat Da Burger!</h1>

<ul>
    {{#each burgers}}
    <li>
        <p>{{name}}</p>
    </li>
    {{/each}}
</ul>

<form action="/" method="POST">
	<textarea name = "wish" id = "" type="text" name="task"></textarea>

	<button type="submit">Submit</button>
</form>