<h1>Eat Da Burger!</h1>

<form action="/" method="POST">
    <textarea name="burger" id="" type="text" name="task"></textarea>

    <button type="submit">Add a Burger</button>
</form>

<h2>Eat these burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block eaten=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>You ate these burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block eaten=true}}
    {{/if}}
  {{/each}}
</ul>