<li>
    {{burger}}

    {{#if eaten}}
    <button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">YUM!
    </button>
    {{/if}}

    {{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>